.epcgeg svg.epc,
.epcgeg svg.geg {
  overflow: hidden;
  position: relative;
}

.epcgeg svg.epc rect.score,
.epcgeg svg.geg rect.score {
  fill: #fff;
  stroke: #000;
}

.epcgeg svg.epc polygon,
.epcgeg svg.geg polygon {
  fill-opacity: 1;
  stroke: #000;
}

.epcgeg svg.epc polygon.A {
  fill: #319834;
}

.epcgeg svg.epc polygon.B {
  fill: #33cc31;
}

.epcgeg svg.epc polygon.C {
  fill: #cbfc34;
}

.epcgeg svg.epc polygon.D {
  fill: #fbfe06;
}

.epcgeg svg.epc polygon.E {
  fill: #fbcc05;
}

.epcgeg svg.epc polygon.F {
  fill: #fc9935;
}

.epcgeg svg.epc polygon.G {
  fill: #fc0205;
}

.epcgeg svg.geg polygon.A {
  fill: #f2eff4;
}

.epcgeg svg.geg polygon.B {
  fill: #dfc1f7;
}

.epcgeg svg.geg polygon.C {
  fill: #d6aaf4;
}

.epcgeg svg.geg polygon.D {
  fill: #cc93f4;
}

.epcgeg svg.geg polygon.E {
  fill: #bb72f3;
}

.epcgeg svg.geg polygon.F {
  fill: #a94cee;
}

.epcgeg svg.geg polygon.G {
  fill: #8b1ae1;
}

.epcgeg .legend {
  font-size: 0.7em;
}
