{#/**
 * @file
 * Epc formatter template.
 */
#}
<div class="epcgeg">
  <div class="info">
    <em>{{ 'Economic housing'|trans }}</em>
  </div>
  <svg class="epc" width="{{ width }}"
       height="{{ height }}"
       version="1.1">
    <defs>
      <filter id="fs">
        <feGaussianBlur in="SourceAlpha" stdDeviation="1"></feGaussianBlur>
        <feOffset result="offsetblur" dx="1" dy="0.5"></feOffset>
        <feMerge>
          <feMergeNode></feMergeNode>
          <feMergeNode in="SourceGraphic"></feMergeNode>
        </feMerge>
      </filter>
    </defs>

    <rect class="score" x="{{ data.score.x }}"
          y="{{ data.score.y }}"
          height="{{ data.score.height }}"
          width="{{ data.score.width }}"/>
    <text x="{{ data.score.label.x }}"
          y="{{ data.score.label.y }}"
          font-size="{{ data.score.label.size }}"
          fill="#000000"
          text-anchor="end"
          alignment-baseline="middle"
          font-family="Arial Narrow, sans-serif"
          font-weight="bold">{{ score }}
    </text>
    {% for key, bar in data.bars %}
      <polygon class="{{ bar.letter.label }}"
               points="{{ bar.polygon }}"></polygon>
      <text x="{{ bar.letter.x }}"
            y="{{ bar.letter.y }}"
            font-size="{{ bar.letter.size }}"
            fill="#000000"
            alignment-baseline="middle"
            text-anchor="end"
            font-family="Arial Narrow, sans-serif"
            font-weight="bold">{{ bar.letter.label }}
      </text>
      <text x="{{ bar.legend.x }}"
            y="{{ bar.legend.y }}"
            fill="#000000"
            text-anchor="start"
            alignment-baseline="middle"
            font-size="{{ bar.legend.size }}"
            font-family="Arial Narrow, sans-serif">
        {{ bar.legend.label }}
      </text>
    {% endfor %}
  </svg>
  <div class="info">
    <em>{{ 'Inefficient housing'|trans }}</em>
    <div class="legend">
      {{ 'kWh/m².year'|trans }}
    </div>
  </div>
</div>
