{#
/**
 * @file
 * Geg formatter template.
 */
#}

<div class="epcgeg">
  <div class="info">
    <em>{{ 'Low GEG emission'|trans }}</em>
  </div>
  <svg class="geg" width="{{ width }}"
       height="{{ height }}"
       version="1.1">

    <rect class="score" x="{{ data.score.x }}"
          y="{{ data.score.y }}"
          height="{{ data.score.height }}"
          width="{{ data.score.width }}"/>
    <text x="{{ data.score.label.x }}"
          y="{{ data.score.label.y }}"
          font-size="{{ data.score.label.size }}"
          fill="#000000"
          text-anchor="end"
          alignment-baseline="middle"
          font-family="Arial Narrow, sans-serif"
          font-weight="bold">{{ score }}
    </text>
    {% for key, bar in data.bars %}
      <polygon class="{{ bar.letter.label }}"
               points="{{ bar.polygon }}"></polygon>
      <text x="{{ bar.letter.x }}"
            y="{{ bar.letter.y }}"
            font-size="{{ bar.letter.size }}"
            fill="#000000"
            alignment-baseline="middle"
            text-anchor="end"
            font-family="Arial Narrow, sans-serif"
            font-weight="bold">{{ bar.letter.label }}
      </text>
      <text x="{{ bar.legend.x }}"
            y="{{ bar.legend.y }}"
            fill="#000000"
            text-anchor="start"
            alignment-baseline="middle"
            font-size="{{ bar.legend.size }}"
            font-family="Arial Narrow, sans-serif">
        {{ bar.legend.label }}
      </text>
    {% endfor %}
  </svg>
  <div class="info">
    <em>{{ 'Strong GEG emission'|trans }}</em>
    <div class="legend">
      {{ 'kg/m².year'|trans }}
    </div>
  </div>
</div>
